Email-Triage-v1-ntfy.json
{
  "name": "Getting impartent mails as SMS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -2384,
        -208
      ],
      "id": "9af2db0c-77f1-4613-b833-599648d7e77f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "yHjXR55G3JRadIKI",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek-ai/deepseek-v4-flash",
          "mode": "list",
          "cachedResultName": "DEEPSEEK-AI/DEEPSEEK-V4-FLASH"
        },
        "responses": {
          "values": [
            {
              "content": "You are an email classifier.\n\nClassify the email below.\n\nReturn ONLY one of these two words:\n\nIMPORTANT\nNOT_IMPORTANT\n\nEmail:\nInterview invitation from Google for Software Engineering Internship."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1424,
        0
      ],
      "id": "b1f631af-6816-4b41-8cd8-ca32d0ab2f38",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "5XmUqmLWJUl85lOs",
          "name": "Nvidia_glm-5.1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{NVIDIA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-ai/deepseek-v4-flash\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email assistant for a final-year engineering student. Classify as IMPORTANT if the email relates to internships, jobs, recruiters, hiring, interviews, assessments, coding tests, campus placements, placement drives, selection rounds, shortlisting, recruitment registration, scholarships, university deadlines, application deadlines, certifications, or career opportunities. Classify as NOT_IMPORTANT if it relates to promotions, discounts, marketing, advertisements, shopping, newsletters, entertainment, or social updates. Return only IMPORTANT or NOT_IMPORTANT.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Subject: {{$node['Gmail Trigger'].json['Subject']}}\\n\\nFrom: {{$node['Gmail Trigger'].json['From']}}\\n\\nSnippet: {{$node['Gmail Trigger'].json['snippet']}}\"\n    }\n  ],\n  \"max_tokens\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2096,
        -208
      ],
      "id": "de1175e5-5b51-4975-9d44-93c6414efd89",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce6fdaaa-62a4-41db-ad3e-f56d6f018b92",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "IMPORTANT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        -208
      ],
      "id": "555bdd71-532e-4fbd-8f65-d8e3b954bf70",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/Needs-Attention",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text",
        "body": "=🚨 IMPORTANT EMAIL\n\nSubject:\n{{$node[\"Gmail Trigger\"].json[\"Subject\"]}}\n\nFrom:\n{{$node[\"Gmail Trigger\"].json[\"From\"]}}\n\nSnippet:\n{{$node[\"Gmail Trigger\"].json[\"snippet\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        -416
      ],
      "id": "1588c182-6695-46bb-8107-c56773efa106",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ead3fdf5-5901-4dc8-9bee-6a441f78a0bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bee47cd4aba684d0c1587780ae6ff59eb88129024769d3b3f6aa3b34f8d1476c"
  },
  "nodeGroups": [],
  "id": "EMAxVJXyDcdKWXcK",
  "tags": []
}